<app-grid>
  <ng-container slot="top">
    <mat-toolbar color="primary">
      <img src="{{user.image}}" alt="user.lastname" class="avatar">
      <h1>passport #: {{user.passportnumber}}</h1>
    </mat-toolbar>
  </ng-container>
  <ng-container slot="area-one">
    <app-account-history [transactions]="user.transactions"></app-account-history>
  </ng-container>
  <ng-container slot="area-two">
    <app-account-settings></app-account-settings>
  </ng-container>
  <ng-container slot="bottom">
    <app-account-feedback [email]="user.email"></app-account-feedback>
  </ng-container>
</app-grid>
