<mat-toolbar color="primary" class="mat-elevation-z15 topbar">ACME app</mat-toolbar>
<mat-sidenav-container class="">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list role="list">
      <a mat-list-item routerLink="customer-detail" routerLinkActive="active">Customer Details</a>
      <a mat-list-item routerLink="account-details" routerLinkActive="active">Account Details</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
