.container  {
  display: flex;
  gap: 16px;
  flex-direction: column;
  .top-bar{
    display: flex;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: row;
  }
  .area-one {
    flex: 4;
  }
  .area-two {
    flex: 5;
  }
}
